{% extends 'commons/base.html.twig' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css"
      integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA="
      crossorigin="anonymous">
{% block body %}
    {% include 'commons/_headerLittle.html.twig' %}
    <main class="courseMain">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"
                integrity="sha256-mMw9aRRFx9TK/L0dn25GKxH/WH7rtFTp+P9Uma+2+zc="
                crossorigin="anonymous"></script>

    </main>
{% endblock %}