.button{
  padding: 7px 25px;
  background-color: $green;
  color: $white;
  border-radius: 60%;
}
.buttonCenter{
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.buttonDelete{
  background-color: $red;
}
.buttonLeft{
  transform: translate(-50%,0);
  position: absolute;
  left: 18%;
  bottom: 20px;
  font-family: $fontH;
}
// -------------------------------------    Courses BUTTON      ----------------------------
.courseShowButton{
  display: flex;
  justify-content: space-around;
}
.userShowButton{
  padding: 50px;
  display: flex;
  justify-content: center;
}

.courseButtonDelete{
  background-color: $red;
  color: $white;
  border-radius: 60%;
  line-height: 40px;
  padding: 7px 25px;
}
// -------------------------------------    user BUTTON      ----------------------------
.userButtonCenter{
  justify-content: space-between;
}
.userButtonUpdate{
  padding: 2px 20px;
  background-color: $green;
  color: $white;
  border-radius: 60%;
  line-height: 40px;
}
.userButtonInsert{
  position: absolute;
  width: 150px;
  text-align: center;
  margin: 50px;
  padding: 8px 20px;
  background-color: $green;
  color: $white;
  border-radius: 60%;
}
// -------------------------------------        CALENDAR        ----------------------------
.calendarButtonLeft{
  width: 15%;
  padding: 10px 50px;
  display: flex;
  background-color: $green;
  color: $white;
  border-radius: 60%;
  margin: 30px;
  text-align: center;
}
.calendarButtonAccueil{
  margin: 50px;
  position: absolute;
  padding: 8px 20px;
  background-color: $green;
  color: $white;
  border-radius: 60%;
}
.calendarButtonAccueilDown{
  margin: 130px 42px;
}
// -------------------------------------        REGISTER        ----------------------------
.registerButtonRight{
  position: absolute;
  right: 10%;
  bottom: 40%;
  font-family: $fontH;
}