.registerMail{
  justify-content: left;
  padding-bottom: 15px;
}
.table{
  width: 20%;
  margin: 15px auto;
  text-align: left;
}
.tableBig{
  width: 90%;
  margin: 30px auto;
  text-align: left;
}
.tableBigCenter{
  width: 100%;
  margin: 110px auto;
  padding-left: 300px;
  text-align: left;
}
#calendar{
  width: 60%;
  margin: auto;
}
.calendarTitle{
  text-align: center;
  padding-top: 20px;
}