{% extends 'commons/base.html.twig' %}
{% block title %}Calendrier{% endblock %}
    {% block body %}
        <div>
        {% include 'commons/_headerLittle.html.twig' %}
            <div id="calendar">
            </div>

        {% block javascripts %}
                <script>
                    window.onload = () => {
                        let calendarElt = document.querySelector("#calendar")

                        let calendar = new FullCalendar.Calendar(calendarElt, {
                            initialView: 'dayGridWeek',
                            locale: 'fr',
                            timeZone: 'Europe/Paris',
                            headerToolbar: {
                                start: 'prev,next today',
                                center: 'title',
                                end: 'dayGridMonth, timeGridWeek'
                            },
                            events: {{ data|raw }},
                            editable: true
                        })

                        calendar.on('eventchange', (e) => {
                            console.log(e)
                        })

                        calendar.render()
                    }
                        {# je lui passe l'élément et ensuite je précise les options#}
                </script>
            </div>
        {% endblock %}
    {% endblock %}