<h1>nouveau contact</h1>
<div class="formulaireRegister" style="color:white;">
    <div class="registerLine">
        Prénom :{{ contact.firstName }}
    </div>
    <div class="registerLine">
        Nom :{{ contact.lastName }}
    </div>
    <div class="registerLine">
        Email :{{ contact.email }}
    </div>
    <div class="registerLine">
        Message :{{ contact.message|raw }}
    </div>
</div>